// fonts
@font-face {
    font-family: 'Europa';
    src: url(../fonts/Europa-Regular.ttf) format('truetype');
    font-size: 400;
}

@font-face {
    font-family: 'Europa Bold';
    src: url(../fonts/Europa-Bold.ttf) format('truetype');
    font-size: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.container {
    max-width: 1400px;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.link {
    font-family: 'Europa Bold', sans-serif;
    padding: 15px 30px;
    background-color: #BF0830;
    border-radius: 6px;
    color: #fff;
}

.outline-link {
    font-family: 'Europa Bold', sans-serif;
    color: #BF0830;
    padding: 15px 30px;
    border: 1px solid #BF0830;
    border-radius: 6px;
}

section {
    padding: 100px 0;
}


h1, h3 {
    font-family: 'Europa Bold', sans-serif;
    font-size: 44px;
    margin-bottom: 15px;
    color: #1A2578;
}

.section-title {
    text-align: center;
    margin-bottom: 80px;

    span {
        color: #BF0830;
    }

}

body {
    font-family: 'Europa', sans-serif;
    color: #484C63;

    .header {
        padding-top: 30px;
        background: linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__nav {
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        margin: 0 40px;
                        font-size: 18px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        &-content {
            padding-top: 130px;
            background: url(../img/header/bg.svg) no-repeat right -15% bottom;
            height: 730px;

            &__text {
                max-width: 550px;
                margin-bottom: 40px;

                h1 {
                    font-size: 48px;
                    color: #1A2578;
                    margin-bottom: 30px;
                }

                p {
                    font-size: 22px;
                }
            }

            &__links {
                display: flex;

                a {
                    margin-right: 20px;
                }
            }
        }
    }

    .main {
        .brands {
            border-bottom: 1px solid rgba(197, 203, 226, 0.5);

            .brand {
                min-height: 130px;
                cursor: pointer;
            }

            &-list {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }

        .products {
            &-list {
                display: flex;
                justify-content: center;
                align-items: center;

                .product {
                    max-width: 540px;
                    max-height: 540px;
                    padding: 65px 125px 250px 60px;
                    margin: 30px;
                    border-radius: 8px;
                    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.08);

                    div {
                        margin-bottom: 40px;
                    }

                    &-text {
                        font-size: 24px;
                    }

                    a {
                        display: inline-block;
                        background: url(../img/main/products/Arrow-right.svg) no-repeat center left 10%;
                    }

                    &:first-child {
                        background: url(../img/main/products/bg-1.png) no-repeat bottom;
                    }

                    &:last-child {
                        background: url(../img/main/products/bg-2.png) no-repeat bottom;
                    }
                }
            }
        }

        .awards {
            background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);

            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .section-title {
                    text-align: left;
                    max-width: 400px;
                }
            }

            &-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                max-width: 590px;
                max-height: 500px;
                .award {
                    margin: 30px;
                    padding: 20px 40px;
                    border-radius: 8px;
                    background-color: #fff;
                    box-shadow: 0px 25px 35px rgba(22, 23, 72, 0.05);

                    &:first-child {
                        transform: translate(30px, 40px);
                    }
                    &:nth-child(3) {
                        transform: translate(30px, 0px);
                    }
                    &:last-child {
                        transform: translate(0, -30px);
                    }
                   
                    // &:nth-child(odd) {
                    //     margin: 30px 0 30px 0;
                    // }
                    // &:nth-child(even) {
                    //     margin: 30px 0 30px 30px;
                    // }
                    // &:nth-child(3) {
                    //     margin-top: 0;
                    // }
                    // &:nth-child(4) {
                    //     margin-top: 0;
                    // }
                    &:last-child {
                        padding: 75px 0;
                        // margin-top: -30px;
                    }
                    // &:first-child {
                    //     margin-top: 100px;
                    // }
                }
            }
        }

        .newsletters {
            &-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .newsletter {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 50px;
                    border-radius: 8px;
                    min-height: 130px;
                    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
                }
            }
        }

        .join {
            background:  url(../img/main/join/bg.svg) no-repeat center right 20%;
            min-height: 500px;
            .section-title {
                text-align: left;
                margin-bottom: 50px;
            }
            
        }
    }

    .footer {
        background-color: #0D123C;
        color: #fff;
        padding-bottom: 40px;
        position: relative;
        
        &-info {
            display: flex;
            justify-content: space-between;
            align-items: start;
            padding-top: 55px;
            padding-bottom: 65px;
            
            &__brand {
                
                img {
                    margin-bottom: 25px;
                }
            }
            &__links {
                display: flex;
                div {
                    margin: 0 50px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
                p {
                    margin-bottom: 30px;
                }
                .social-media {
                    ul {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        li {
                            margin: 0 5px;
                        }
                    }
                }

                ul {
                    li {
                        margin: 20px 0;
                    }
                }
            }
        }

        .border {
            width: 100%;
            height: 1px;
            background-color: rgba(197, 203, 226, 0.5);
            position: absolute;
            bottom: 90px;
            left: 0;
            
        }

        &-confidentials {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                cursor: pointer;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}